/* Place CSS styles here */

body{
   background-color: rgb(255, 255, 255);
   color: #ff23a3
}
img{
    width: 20%
}
h2{
color:rgb(255, 35, 163)
}

ul{
color:rgb(255, 35, 163)
}

img{img/15C40985-A9B1-4910-8C89-3D3CD99AEF42_1_105_c.jpeg
width: 20%
}
